nav {
	position: relative;
	width: 30%;
	height: 54px;
	background-color: #55286f;
	-moz-border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	margin: auto;
	margin-top: -54px;
}

nav .big-button {
	display: block;
	padding: 2px;
	height: 42%;
	border-bottom: 1px solid #bc96e6;
	-moz-border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	text-align: center;
	font-size: 17px;
}

nav .big-button:hover {
	background-color: #f42272;
}

nav #nav-bar {
	height: 58%;
	font-size: 0;
}

nav .icon-container {
	height: 50%;
	padding: 4px;
}

nav .button {
	display: inline-block;
	text-align: center;
	width: 25%;
	height: 100%;
	font-size: 12px;
	padding-bottom: 4px;
}

nav .button:hover {
	background-color: #f42272;
	color: white;
}

nav .current {
	background-color: #d8b4e2;
	color: #55286f;
	font-weight: 700;
}

nav .icon {
	width: 1px;
	height: 1px;
	margin: auto;
	border: 4px solid #bc96e6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

nav .current .icon {
	border-color: #ae759f;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}