#top-bar {
	position: relative;
	font-size: 0;
	background-color: #bc96e6;
    overflow: visible;
    z-index: 20;
}
#top-bar img {
	width: 100%;
	height: 100%;
}

#top-bar.col4 img {
	width: 25%;
}

#top-bar .margin {
	margin: auto;
	width: 80%;
	height: 100%;
}

#top-bar .border img {
	border-left: 1px solid #d8b4e2;
}

#top-bar .border img:first-child {
	border-left: 0;
}

#top-bar .col2 {
	width: 50%;
	height: 100%;
	position: relative;
	font-size: 14px;
	display: inline-block;
}

#top-bar .col2 .icon {
	width: 151px;
	height: 160px;
	position: absolute;
	top: 50%;
	left: 37%;
	margin-top: -80px;
}

#top-bar .col2 .detail {
	position: absolute;
	right: 50%;
	top: 50%;
	color: #55286f;
	font-size: 60px;
	font-weight: 600;
	height: 80px;
	margin-top: -40px;
}

#top-bar .content-container {
    background: white;
    margin: auto;
    width: 80%;
    height: 130%;
}